<!DOCTYPE html>
<html lang="ja">

<head>
    <title>DIDチケット</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <link rel="stylesheet" href="/stylesheets/did-wg-poc.css">
</head>
    <body>

        <div class="my_Container">

            <div class="my_Box-BackImage" style="background-image: url('/images/kamata-gig.png');">
                <h1>KAMATA GIG IV</h1>
            </div>

            <div class="my_Box-Center">

                <div class="my_Box" style="width: 80%;">
                    <h3>デジタルチケットダウンロードありがとうございます</h3>
                    <p class="m0">
                        当日のご来場をお待ちしております。
                    </p>
                </div>
            </div>

            <div class="my_Box-Center">
                <small>Copyright (c) IIJ did-wg All Rights Reserved.</small>
            </div>

        </div>

    </body>
</html>
