<!DOCTYPE html>
<html lang="ja">

<head>
    <title>DIDチケット</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/did-wg-poc.css">
</head>
    <body>

        <div class="my_Container">

            <div class="my_Box-BackImage" style="background-image: url('images/kamata-gig.png');">
                <h1>KAMATA GIG III</h1>
            </div>
  
            <div class="my_Box-Center">
                <div class="my_Box" style="width: 90%;">
                    <h1>デジタルチケットダウンロード</h1>
                    <p class="m0"><b>日時：</b>2023年2月11日（土）17:30 開場</p>
                    <p class="m1"><b>会場：</b><a href="http://neweight.tokyo/">ニューエイト</a><br>
                    東京都大田区蒲田5-44-14 蒲田佐藤ビルB1F</p>
                </div>
            </div>
  
            <div class="my_Box-Note">
                <span class="box-title">デジタルチケットダウンロード手順</span>
                <ol>
                    <li>事前にMicrosoft Authenticator をスマホにインストール</li>
                    <li>下記フォームにて、知り合いのバンドを選択後、「デジタルチケットダウンロード」ボタンをクリックするとQRコードが表示</li>
                    <li>Authenticatorアプリを起動</li>
                    <li>右下メニューの「検証済みID」をタップ</li>
                    <li>右上のアイコンをタップしてカメラを起動</li>
                    <li>2. で表示されたQRコードを 5. で起動したカメラで読み込み</li>
                    <li>デジタルチケットがダウンロードされるので保存</li>
                </ol>
                <p>本ページをスマホで操作すると 3. のAuthenticatorは自動的に起動されます。</p>
            </div>
  
    
            <div class="my_Box-Note">  
                <span class="box-title">デジタルチケットダウンロードフォーム</span>
                <div class="my_Form">
  
                    <form
                        class="my_Box_Form"
                        method="POST"
                        action="/issue"
                    >
  
                        <div class="my_Form-Item" style="align-items: flex-start;">
                            <p class="my_Form-Item-Label">
                            <span class="my_Form-Item-Label-Required">必須</span>
                            知り合いのバンドを選択
                            </p>
        
                            <div class="my_Form-Item-Block">
                                <div class="my_Form-Item">
                                    <input type="radio" class="my_Form-Item-Radio" id="band1" name="band" value="IIJ"/>
                                    <label for="band1">
                                    IIJ けいおん部 ブルースブラザーズバンド
                                    </label>
                                </div>
          
                                <div class="my_Form-Item">
                                    <input type="radio" class="my_Form-Item-Radio" id="band2" name="band" value="ARP"/>
                                    <label for="band2" style="display: block; float:left; width: 18em;">
                                    ARP
                                    </label>
                                </div>
          
                                <div class="my_Form-Item">
                                    <input type="radio" class="my_Form-Item-Radio" id="band3" name="band" value="ONOBAND"/>
                                    <label for="band3" style="display: block; float:left; width: 18em;">
                                    ONOBAND
                                    </label>
                                </div>
          
                                <div class="my_Form-Item">
                                    <input type="radio" class="my_Form-Item-Radio" id="band4" name="band" value="N/A"/>
                                    <label for="band4" style="display: block; float:left; width: 18em;">
                                    （誰も知らない）
                                    </label>
                                </div>

                            </div>
                        </div>
      
                        <div class="my_Box-Center">
                            <label>
                                <button class="my_Button" type="submit" name="button">デジタルチケット<br>ダウンロード</button>
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="my_Box-Center">
                <p>Copyright (c) IIJ did-wg All Rights Reserved.</p>
            </div>    
        </div>
    </body>
</html>

