<!DOCTYPE html>
<html lang="ja">

<head>
    <title>DIDチケット 入場確認</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/did-wg-poc.css">
</head>
    <body>

        <div class="my_Container">

            <div class="my_Box-BackImage" style="background-image: url('images/kamata-gig.png');"">
                <h1>KAMATA GIG III</h1>
            </div>
  
            <div class="my_Box-Center">

                <div class="my_Box" style="width: 70%;">
                    <h2>受付番号： 10</h2>
                    <h4>2023/2/11 17:03</h4>
                    <p class="m0">
                        ご来場ありがとうございます！！<br>
                        ドリンクチケットをお受け取りください。<br>
                        受け取り後に下記ボタンを押してください<br>
                    </p>
                </div>
            </div>

            <div class="my_Box-Center">
                <form
                class="my_Box_Form"
                method="POST"
                action="https://XXXXXXXXXXX"
                enctype="multipart/form-data"
                >
            
                    <label>
                        <button class="my_Button" type="submit" name="button">ドリンクチケット<br>受け取りました</button>
                    </label>
            
                </form>

            </div>

            <div class="my_Box-Center">
                <p>Copyright (c) IIJ did-wg All Rights Reserved.</p>
            </div>    

    
        </div>    
  
    </body>
</html>
